<html>
    <head>
        <title> APPLICATION 2</title>
        <caption>SPONSOR REGISTRATION</caption>
        <br>
        <br>
        <br>
        <br>
        <body>
            <form>
                <label> PREFIX</label>
                <input type="text">
                <br>
                <br>
                <label> Name</label>
                <input type="text">
                <br>
                <br>
                <label> PREFERRED PRONOUNS</label>
                <input type="text">
                <br>
                <br>
                <label> E.mail</label>
                <input type="email">                <br>
                <br>
               <label> WORK PhoneNumber</label>
                <INPUT type="number">
                    <br>
                    <br>
                    <label> Cell Phone</label>
                <INPUT type="number">
                    <br>
                    <br>
                    <label> COMPANY</label>
                    <input type="text">
                    <br>
                    <br>
                    <label> Business ADRESS</label>
                    <input type="text">
                    <br>
                    <br>
                    <label>COMPANY WEBSITE</label>
                    <input type="url">
                    <br>
                    <br>
                    <label>COMPANY DESCRIPTION</label>
                    <INPUT TYPE="text">
                        <br>
                        <br>
                        <label> COMPANY FACE BOOK PAGE</label>
                        <INPUT TYPE="url">
                            <br>
                            <br>
                            <label> COMPANY TWITTER HANDLE</label>
                        <INPUT TYPE="{% url  %}">
                            <br>
                            <br>
                            <label> COMPANY LINKEDIN HANDLE</label>
                        <input type="{% url  %}">
                            <br>
                           <br>
                           <label> SPONSORSHIP LEVEL</label>
                           <input type="option"name= "GOLD""DIAMOND""PLATINUM">
                           <BR>
                            <BR>
                                <label>
                                    ADDITIONAL GUESTS (Name,e.mail address)
                                </label>
                                <input type="text""number">


            </form>
        </body>
    </head>
</html>